body {
    font-family: -apple-system, "Apple Color Emoji";
    font-weight: normal;
    font-size: 13px;
}

code {
    font-family: SF Mono, Menlo, Monaco, monospace;
    font-size: 12px;
}

pre {
    background-color: #f1f1f1;
    padding: 4px;
    border-radius: 4px;
    line-height: 1.5;
    tab-size: 4;
}

hr {
    height: 2px;
    border-width: 0;
    background-color: #eaeaea;
}

blockquote {
    border-left: 2px solid black;
    padding-left: 4px
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}
